@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.footer {
  width:100vw;
  margin-left: auto;
  margin-right:auto;
  color: rgb(238, 228, 228);
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
}
.footerPart {
  font-size: 1.4em;
  text-align: center;
  line-height: 110%;
}
.footerDetails {
text-align: center;
padding:5px
}
.downFooterPart {
  font-size: 1.4em;
  padding: 0 10px;
}
.rights {
  position: absolute;
  text-align: center;
  color: white;
  bottom: 0px;
  font-size:1.2em;
  width:100%;
}

mat-icon {
  margin-right:5px;
}
@media screen and (min-width: 1200px) {
  .footerPart {
    font-size:1.7em;
  }

}
@media screen and (max-width: 350px) {
  .footerPart {
    font-size:1em;

  }
  .downFooterPart {
    font-size:1em;
    padding:5px;
  }

}
