<footer>
  <mat-grid-list class="footer"
  [cols]="breakpoint"
  [rowHeight]="heightFoot"
   >


      <mat-grid-tile   class='footerPart'>
        <mat-icon> phone</mat-icon> Telefon <br />
        535-511-035
      </mat-grid-tile>
      <mat-grid-tile  class='footerPart'>
        <mat-icon> email</mat-icon> Email <br />
        oskjulitalasek@gmail.com

      </mat-grid-tile>
      <mat-grid-tile class='footerPart'>
        <mat-icon> attach_money</mat-icon> Nr. Rachunku bankowego <br />
        05 1050 1575 1000 0097 6386 057

      </mat-grid-tile>
      <mat-grid-tile  class='footerPart'>
        <mat-icon>home</mat-icon> Adres <br />
        ul. Ludowa 4 <br />
        55-110 Prusice <br />

      </mat-grid-tile>


  </mat-grid-list>

  <mat-grid-list class="footer footerDetails" [cols]="1" rowHeight="100">
    <mat-grid-tile  class='downFooterPart'>
    Biuro czynne Poniedziałek-Piątek 08:00 - 18:00 <br/>
    (W innych dniach i godzinach, prosimy o telefon)
    </mat-grid-tile>

  </mat-grid-list>
  <p  class='downFooterPart rights'>
    &copy; 2022 Daniel Lasek, All Rights Reserved
  </p>

</footer>

