@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.aboutUsDiv {
  align-items: center;
  justify-content: center;
  text-align: center;
  width:80%;
  margin-left: auto;
  margin-right: auto;
  margin-top:30px;
  line-height: 150%;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-weight: 600;
}


@media screen and (min-width: 860px) {
  p {
   font-size:1.6em;
   line-height: 150%;
  }
  .aboutUsDiv  {
    width:65%;
  }
}
@media screen and (max-width: 850px) {
  p {
   font-size:1.3em;
  }

}
@media screen and (max-width: 500px) {
  p {
   font-size:1.1em;
  }
}
@media screen and (max-width: 300px) {
  p {
   font-size:0.8em;
  }
}
