article {
  text-align: center;
}
mat-form-field {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
}
.textArea {
  resize: both;
  overflow: auto;
  max-height: 150px;
}

.send {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.contactH1 {
  text-align: center;
}
@media screen and (max-width: 400px) {
  .contactH1 {
    font-size:1.2em;
  }
}
