

<div  class="containerPrice" style="width: 90vw">


  <div class="mainPrice">
    <h1 class='h1MainPrice'>Promocja</h1>
    <h2>Kurs prawa jazdy kategorii B  <span>2500zł</span><span class="oldPrice"><s>2700zł</s></span> </h2>

  </div>





  <mat-list>

    <h2 matLine>Cena Kursu obejmuje:</h2>
    <mat-list-item *ngFor="let folder of ulList">
      <mat-icon mat-list-icon>star_rate</mat-icon>
      <div class="pText" mat-line>{{folder}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
  <h3 class="extraLessons"> <mat-icon> directions_car</mat-icon>Jazdy doszkalające w cenie 90zł/h</h3>








</div>


