
<mat-grid-list cols="5"
[rowHeight]="(width > 400 && width < 1000) ? '100px': (width > 1000) ? '90px': '110px' " class="main">

    <button (click)="toggleMenu()" *ngIf="navigationMenu"  class="exitButton" >X</button>
    <button (click)="toggleMenu()" *ngIf="!navigationMenu" class="dropdownButton" mat-fab color="primary"><mat-icon>density_medium</mat-icon></button>

    <mat-grid-tile   class="navMenu navMenuAnimate" colspan="5" >
      <app-header style="width:100%"></app-header>
    </mat-grid-tile>


</mat-grid-list>

<router-outlet></router-outlet>


<mat-grid-list cols="4"
[rowHeight]="(width > 400 && width < 1000) ? '100px': (width > 1000) ? '90px': '110px' " class="main">

    <mat-grid-tile class="reveal footerTile" style="backgroundColor: rgb(56, 93, 207); " rowspan="5"  colspan="4" >
      <app-footer></app-footer>
    </mat-grid-tile>


</mat-grid-list>
