

<div class="updates">


  <h1>Aktualności</h1>

          <div
          class="update-item"
          *ngFor="let update of updates"
          routerLink="/Aktualności/Artykuł/{{update.id}}"
          (click)="information()"
          >
              <img
                src="{{update.mainImage.url}}"
                title="{{update.mainImage.title}}"
                alt="{{update.mainImage.alt}}"
              />

              <div class="describe">

                <h2
                mat-line>{{update.title}}
                </h2>
                <p>{{update.date}} </p>
                <div class="text" mat-line >
                  {{update.shortDescription }}
                </div>

            </div>


          </div>


        <mat-divider></mat-divider>




</div>
