<div>

  

  <article>

    <h1> Prawo jazdy Prusice (Trzebnica) – profesjonalna nauka jazdy </h1>

    
  <p>Zrób prawo jazdy w Trzebnicy! Zapisz się do naszej szkoły jazdy i przejdź przez kurs prawa jazdy w Prusicach i okolicach: tj. Trzebnicy, Żmigrodzie i Miliczu. Z nami bez problemu zdasz państwowy egzamin teoretyczny i praktyczny, a przede wszystkim nauczysz się jeździć w sposób bezpieczny dla siebie i otoczenia.</p>

  <h2>Szkoła jazdy Prusice (Trzebnica) – co oferujemy?</h2>
  <p>OSK Julita Lasek zaprasza do nowoczesnej szkoły jazdy w Prusicach. Oferujemy kompleksowy kurs prawa jazdy, który przygotuje każdego do rozpoczęcia przygody za kierownicą i zdania państwowego egzaminu. Kurs składa się z 30 godzin części teoretycznej oraz 30 godzin części praktycznej (jazd). Nasi kursanci otrzymają także dostęp do materiałów szkoleniowych oraz 4 godziny profesjonalnych zajęć z ratownikiem medycznym, który w kompleksowy sposób przeprowadzi zajęcia z pierwszej pomocy.</p>


  </article>
  <h2 class="faq">Prawo jazdy FAQ</h2>
  <article *ngFor="let text of texts">
    <h3> {{text.h3}}  </h3>

    <p> {{text.p}}  </p>

  </article>
  <article>
    
  </article>




</div>
