@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@media screen and (max-width: 500px) {
  p {
    font-size: 0.8em;
  }
  h2, h3{
    font-size:1.2em;
  }
  article {
    margin-top: 5px;
    text-align: center;
  }
}


h1 {
  text-align: center;
  margin-top:30px;
  font-size:2em;
  font-weight: 550;
}
p, h2, h3 {
  margin:10px 20px;
}
h3 {
  font-size:1.5em;
  font-weight: 500;
}
.faq {
  margin-top:50px;
  font-size:2em;
}
p {
  font-family: 'Open Sans', sans-serif;
}
h2 {
text-align: center;
margin-top:30px;
}
article {
  margin-top: 60px;
}

@media screen and (max-width: 400px) {
  p {
    font-size: 0.8em;
    margin: 0 5px;

  }
  h2, h3{
    font-size:1.2em;
    margin: 0 5px;
  }

}

@media screen and (min-width: 600px) {
  article {
    width:90%;
    margin-left: auto;
    margin-right: auto;
  }

}


@media screen and (min-width: 1000px) {
  article {
    width:70%;
    margin-left: auto;
    margin-right: auto;
  }

}



